.explore-image {
  border-right: none;
  border-left: none ;
  object-fit: cover;
  height: 305px;
  width: 100%;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
}
.latest-and-all-posts-main-div{
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1636675187/Meta-Minds/nvkCN6_spihuq.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 300px);
  overflow-y: hidden;
}
.latest-post-div {
  display:flex;
  flex-direction: row;
  padding-left: 95px;
  padding-top: 120px;
  padding-bottom: 100px;
}
.latest-posts-image {
  width: 650px;
  height: 400px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
  z-index: 4;
  transition: .5s ease;
}
.latest-posts-image:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
transition: .5s ease;
}
.single-post-title-link-image{
  z-index: 4;
}
.latest-post-details-background-div{
  height: 400px;
  width: 650px;
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
  opacity: 50%;
  margin-left: -7%;
  margin-top: -75px; 
  margin-right: 50%;
  z-index: 2.3;
}
.latest-post-details-text-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-width: 300px;
  top: -360px;
  left: -10%;
  z-index: 2.5;
  margin-left: 25px;
  color: black;
  z-index: 969;
}
.latest-post-details-date-and-category-text-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1.5;
}
.latest-post-details-date{
  font-size: 20px; 
  margin-right: 30px;
  font-style: bold;
}
.latest-post-details-category {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 30px;
  color: #000000;
  font-weight:lighter;
  opacity: 90%;
  padding-top: 10px;
  padding-bottom: -5px;
  padding-left: 5px;
  padding-right: 5px;
}
.latest-post-details-category:hover{
  border-radius: 12px;
  color: #292929;
}
.meta-logo {
  position: relative;
  top: 5px;
  height: 170px;
  width: 170px;
}
.latest-post-details-title {
  display:block;
  margin-top: -10px;
  font-weight: bold;
  font-size: 45px;
  line-height: 26px;
  letter-spacing: -.4px;
  margin-bottom: 12px;
  padding-top: 8px
}
.latest-post-details-title:hover{
  text-decoration: underline;
}
.latest-post-details-subtitle {
  font-size: 20px ;
  margin-left: 65px;
  display: block;
  font-weight: normal;
  font-style: italic;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -10px;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -.4px;
  max-width: 500px;
  padding-top: 55px
}




.all-posts-div {
  display: flex;
  flex-wrap: wrap ;
  position: relative;
  bottom: 225px;
  padding-left: 2.5%;
  margin-bottom: -220px;
}
.single-post {
  list-style: none;
  flex: 0 0 33.333333%;
  margin-right: -1.1%;
  margin-bottom: 130px;
}
.single-post-image {
  height: 300px;
  width: 360px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: -38px;
}
.single-post-image:hover{
  transform: translateY(-10px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.single-post-image:hover ~ .single-post-detail-div{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.single-post-detail-div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 360px;
  margin-top: 40px;
  background-color: #0ACCE5;
  opacity: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 110px;
  width: 360px;
  position: relative;
  left: 54px;
}
.single-post-date-and-category-div {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.single-post-date {
  margin-right: 40px;
  font-size: 12px;
 
}
.single-post-category{
  color: #000000;
  font-weight: bold;
  padding: 5px;
}
.single-post-category:hover{
  color: #292929;
}
.single-post-category-link{
  text-decoration: none;
  color: #000000;
}
.single-post-title{
  margin-top: -10px;
  max-width: 260px;
  font-size: 15px;
  text-align-last: center;
  font-weight: bolder;
}
.single-post-title:hover{
  text-decoration: underline;
}
.single-post-title-link{
  text-decoration: none;
  color: #000000;
}
.load-more-button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 400px;
}
.load-more-button:hover {
 background-color: #0ACCE5;
}
.load-more-button-disabled {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 400px;
}
