@media screen and (max-width: 374px ) and (min-width: 0px )  {
  .badscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
    background-size: cover;
  }
  .modal-page{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(32, 32, 32); 
    opacity: .3;   
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-div{
   height: 400px;
    z-index: 101;
    width: 80%;
    height: 400px;
    border-radius: 12px;
    background-color: rgb(187, 11, 11); /* Fallback color */
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
    opacity: .9;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .modal-title-text-warning{
    color: rgb(218, 212, 212);
    font-size: 30px;
    font-weight: bolder;
  }

.modal-title-text{
  color: rgb(218, 212, 212);
  font-size: 10px;
  line-height:2.0;
  margin: 10%;
  font-family: 'Press Start 2P';
}

.modal-title-text-view-read-me{
  color: rgb(218, 212, 212);
  font-size: 10px;
  line-height:2.0;
  margin: 10%;
  font-family: 'Press Start 2P';
}
.modal-decision-divs{
  margin-top: -40px;
  padding-bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal-cancel-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 6px;
  margin-right: 0px;
  border-style: hidden;
  border-color: white;
  background-color: white;
  color: rgb(22, 21, 21);
  box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
  font-size: 14px;
 }
 .meta-minds-logo-divs{
  position: relative;
  margin-top: -90px;
  top: 0%;
  margin-bottom: 1%;
}
.meta-minds-logos{
  height: 200px;
  width:  200px;
}
.sign-up-copyright-texts{
  font-size: 7px;
  position: relative;
  bottom: 60px;
  left: 2px;
}
.explore-image{
  display: none;
}
.latest-and-all-posts-main-div{
  display: none;
}

  }
  @media screen and (max-width: 1439px ) and (min-width: 600px )  {
    .badscreen{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
      background-size: cover;
    }
    .modal-page{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgb(32, 32, 32); 
      opacity: .3;   
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .modal-div{
     height: 400px;
      z-index: 101;
      min-width: 300px;
      max-width:500px;
      height: 400px;
      border-radius: 12px;
      background-color: rgb(187, 11, 11); /* Fallback color */
      box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
      opacity: .9;  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    .modal-title-text-warning{
      color: rgb(218, 212, 212);
      font-size: 35px;
      font-weight: bolder;
    }
  
  .modal-title-text{
    color: rgb(218, 212, 212);
    font-size: 13px;
    line-height:2.0;
    margin: 10%;
    font-family: 'Press Start 2P';
  }
  
  .modal-title-text-view-read-me{
    color: rgb(218, 212, 212);
    font-size: 13px;
    line-height:2.0;
    margin: 10%;
    font-family: 'Press Start 2P';
  }
  .modal-decision-divs{
    margin-top: -40px;
    padding-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .modal-cancel-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    margin-right: 0px;
    border-style: hidden;
    border-color: white;
    background-color: white;
    color: rgb(22, 21, 21);
    box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
    font-size: 14px;
   }
   .meta-minds-logo-divs{
    position: relative;
    margin-top: -90px;
    top: 0%;
    margin-bottom: 1%;
  }
  .meta-minds-logos{
    height: 200px;
    width:  200px;
  }
  .sign-up-copyright-texts{
    font-size: 7px;
    position: relative;
    bottom: 60px;
    left: 2px;
  }
  .explore-image{
    display: none;
  }
  .latest-and-all-posts-main-div{
    display: none;
  }
    }




@media only screen and (min-width: 1440px )  and (max-width: 1599px ){
  .badscreen{
    display: none;
  }
.explore-image {
  border-right: none;
  border-left: none ;
  object-fit: cover;
  position: relative;
  bottom: 40px;
  height: 305px;
  min-width: 100%;
  z-index: 2;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
}
.latest-and-all-posts-main-div{
  margin-top: -43px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 200px);
  overflow-y: hidden;
}
.latest-post-div {
  display:flex;
  flex-direction: row;
  padding-left: 95px;
  padding-top: 60px;
  padding-bottom: 90px;
}
.latest-posts-image {
  background-color: #0ACCE5;
  width: 650px;
  height: 400px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
  z-index: 4;
  transition: .5s ease;
  position: relative;
  top:  5px;
}
.latest-posts-image:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
transition: .5s ease;
}
.single-post-title-link-image{
  z-index: 4;
  position: relative;
  bottom: 50px;
  height: 400px;
  border-radius: 12px;
}
.latest-post-details-background-div{
  height: 400px;
  width: 650px;
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
  opacity: .5;  
  margin-left: -7%;
  margin-top: -75px; 
  margin-right: 50%;
  z-index: 2.3;
}
.latest-post-details-text-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-width: 300px;
  top: -370px;
  left: -8%;
  z-index: 2.5;
  margin-left: 25px;
  color: black;
  z-index: 969;
}
.latest-post-details-date-and-category-text-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1.5;
}
.latest-post-details-date{
  position: relative;
  top: 30px;
  font-size: 20px; 
  margin-right: 30px;
  font-style: bold;
}
.meta-logo {
  position: relative;
  top: 5px;
  height: 170px;
  width: 170px;
}
.latest-post-details-category {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 30px;
  color: #000000;
  font-weight:400;
  padding-top: 0px;
  padding-bottom: -5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 30px;
}
.latest-post-details-category:hover{
  border-radius: 12px;
  color: #292929;
}
.latest-post-details-title {
  display:block;
  margin-top: -10px;
  font-weight: bold;
  font-size: 45px;
  line-height: 26px;
  letter-spacing: -.4px;
  margin-bottom: 10px;
  padding-top: 0px
}
.latest-post-details-title:hover{
  text-decoration: underline;
}
.latest-post-details-subtitle {
  font-size: 20px ;
  margin-left: 65px;
  display: block;
  font-weight: normal;
  font-style: italic;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -10px;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -.4px;
  max-width: 500px;
  padding-top: 55px
}
.all-posts-div {
  display: flex;
  flex-wrap: wrap ;
  position: relative;
  bottom: 295px;
  padding-left: 2.5%;
  margin-bottom: -320px;
}
.single-post {
  list-style: none;
  flex: 0 0 33.333333%;
  margin-right: -1.1%;
  margin-bottom: 130px;
}
.single-post-image {
  height: 300px;
  width: 360px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: -38px;
}
.single-post-image:hover{
  transform: translateY(-10px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.single-post-image:hover ~ .single-post-detail-div{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.single-post-detail-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
  margin-top: 40px;
  background-color: #0ACCE5;
  opacity: .9;  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 120px;
  width: 360px;
  position: relative;
  left: 54px;
}
.single-post-date-and-category-div {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.single-post-date {
  margin-right: 40px;
  font-size: 12px;
 
}
.single-post-category{
  color: #000000;
  font-weight: bold;
  padding: 5px;
  font-weight:600;
}
.single-post-category:hover{
  color: #292929;
}
.single-post-category-link{
  text-decoration: none;
  color: #000000;
}
.single-post-title{
  margin-top: -10px;
  max-width: 260px;
  font-size: 15px;
  text-align-last: center;
  font-weight: bolder;
}
.single-post-title:hover{
  text-decoration: underline;
}
.single-post-title-link{
  text-decoration: none;
  color: #000000;
}
.load-more-button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 60px;
}
.load-more-button:hover {
 background-color: #0ACCE5;
}
.load-more-button-disabled {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 60px;
}
.mobile-latest-post-div{
  display: none;
}
.all-posts-mobile-div{
  display: none;
}
}

@media only screen and ( min-width: 1600px  ) and (max-width: 1679px ) {
  
  .badscreen{
    display: none;
  }
  .explore-image {
    border-right: none;
    border-left: none ;
    object-fit: cover;
    position: relative;
    bottom: 40px;
    height: 355px;
    min-width: 100%;
    z-index: 2;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  }
  .latest-and-all-posts-main-div{
    margin-top: -43px;
    background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    z-index: 1;
    height: calc( 100% + 200px);
    overflow-y: hidden;
  }
  .latest-post-div {
    display:flex;  
    flex-direction: row;
    padding-left:60px;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-right: 24px;
  }
  .latest-posts-image {
    background-color: #0ACCE5;
    width: 690px;
    height: 430px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
    z-index: 4;
    transition: .5s ease;
    position: relative;
    top:  5px;
  }
  .latest-posts-image:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: .5s ease;
  }
  .single-post-title-link-image{
    z-index: 4;
    position: relative;
    bottom: 50px;
    height: 400px;
    border-radius: 12px;
  }
  .latest-post-details-background-div{
    height: 430px;
    width: 700px;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
    opacity: .5;  
    margin-left: -7%;
    margin-top: -75px; 
    margin-right: 50%;
    z-index: 2.3;
  }
  .latest-post-details-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-width: 300px;
    top: -380px;
    left: -6%;
    z-index: 2.5;
    margin-left: 10px;
    color: black;
    z-index: 969;
  }
  .latest-post-details-date-and-category-text-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1.5;
  }
  .latest-post-details-date{
    position: relative;
    top: 27px;
    font-size: 22px; 
    margin-right: 30px;
    font-style: bold;
  }
  .meta-logo {
    position: relative;
    top: 5px;
    height: 175px;
    width: 175px;
  }
  .latest-post-details-category {
    font-size: 32px;
    margin-top: 40px;
    margin-left: 30px;
    color: #000000;
    font-weight:400;
    padding-top: 0px;
    padding-bottom: -5px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 30px;
  }
  .latest-post-details-category:hover{
    border-radius: 12px;
    color: #292929;
  }
  .latest-post-details-title {
    display:block;
    margin-top: -10px;
    font-weight: bold;
    font-size: 47px;
    line-height: 26px;
    letter-spacing: -.4px;
    margin-bottom: 10px;
    padding-top: 0px
  }
  .latest-post-details-title:hover{
    text-decoration: underline;
  }
  .latest-post-details-subtitle {
    font-size: 20px ;
    margin-left: 95px;
    display: block;
    font-weight: normal;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: -.4px;
    max-width: 500px;
    padding-top: 55px
  }
  .all-posts-div {
    display: flex;
    flex-wrap: wrap ;
    position: relative;
    bottom: 295px;
    padding-left: 2.5%;
    margin-bottom: -320px;
  }
  .single-post {
    list-style: none;
    flex: 0 0 33.333333%;
    margin-right: -2.0%;
    margin-bottom: 130px;
  }
  .single-post-image {
    height: 300px;
    width: 360px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: -38px;
  }
  .single-post-image:hover{
    transform: translateY(-10px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .single-post-image:hover ~ .single-post-detail-div{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  
  .single-post-detail-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    margin-top: 40px;
    background-color: #0ACCE5;
    opacity: .9;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 140px;
    width: 360px;
    position: relative;
    left: 80px;
  }
  .single-post-date-and-category-div {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .single-post-date {
    margin-right: 40px;
    font-size: 14px;
   
  }
  .single-post-category{
    color: #000000;
    font-weight: bold;
    padding: 5px;
    font-weight:700;
  }
  .single-post-category:hover{
    color: #292929;
  }
  .single-post-category-link{
    text-decoration: none;
    color: #000000;
  }
  .single-post-title{
    margin-top: -10px;
    max-width: 260px;
    font-size: 19px;
    text-align-last: center;
    font-weight: bolder;
  }
  .single-post-title:hover{
    text-decoration: underline;
  }
  .single-post-title-link{
    text-decoration: none;
    color: #000000;
  }
  .load-more-button {
    width: 155px;
    height: 55px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: transparent;
    margin-bottom: 60px;
  }
  .load-more-button:hover {
   background-color: #0ACCE5;
  }
  .load-more-button-disabled {
    width: 155px;
    height: 55px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: transparent;
    margin-bottom: 60px;
  }
  .mobile-latest-post-div{
    display: none;
  }
  .all-posts-mobile-div{
    display: none;
  }
  }


  @media only screen and ( min-width: 1680px  ) and (max-width: 1919px ) {
    .badscreen{
      display: none;
    }
    .explore-image {
      border-right: none;
      border-left: none ;
      object-fit: cover;
      position: relative;
      bottom: 40px;
      height: 355px;
      min-width: 100%;
      z-index: 2;
      box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    }
    .latest-and-all-posts-main-div{
      margin-top: -43px;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 5%;
      z-index: 1;
      height: calc( 100% + 200px);
      overflow-y: hidden;
    }
    .latest-post-div {
      display:flex;  
      flex-direction: row;
      padding-left:60px;
      padding-top: 60px;
      padding-bottom: 100px;
      margin-right: 24px;
    }
    .latest-posts-image {
      background-color: #0ACCE5;
      width: 690px;
      height: 430px;
      border-radius: 12px;
      object-fit: cover;
      box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
      z-index: 4;
      transition: .5s ease;
      position: relative;
      top:  5px;
    }
    .latest-posts-image:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .5s ease;
    }
    .single-post-title-link-image{
      z-index: 4;
      position: relative;
      bottom: 50px;
      height: 400px;
      border-radius: 12px;
    }
    .latest-post-details-background-div{
      height: 430px;
      width: 700px;
      background-color: whitesmoke;
      border-radius: 12px;
      box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
      opacity: .5;  
      margin-left: -7%;
      margin-top: -75px; 
      margin-right: 50%;
      z-index: 2.3;
    }
    .latest-post-details-text-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      min-width: 300px;
      top: -390px;
      left: -6%;
      z-index: 2.5;
      margin-left: 10px;
      color: black;
      z-index: 969;
    }
    .latest-post-details-date-and-category-text-div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      z-index: 1.5;
    }
    .latest-post-details-date{
      position: relative;
      top: 27px;
      font-size: 22px; 
      margin-right: 30px;
      font-style: bold;
    }
    .meta-logo {
      position: relative;
      top: 5px;
      height: 175px;
      width: 175px;
    }
    .latest-post-details-category {
      font-size: 32px;
      margin-top: 40px;
      margin-left: 30px;
      color: #000000;
      font-weight:400;
      padding-top: 0px;
      padding-bottom: -5px;
      padding-left: 5px;
      padding-right: 5px;
      position: relative;
      top: 30px;
    }
    .latest-post-details-category:hover{
      border-radius: 12px;
      color: #292929;
    }
    .latest-post-details-title {
      display:block;
      margin-top: -10px;
      font-weight: bold;
      font-size: 47px;
      line-height: 26px;
      letter-spacing: -.4px;
      margin-bottom: 10px;
      padding-top: 0px
    }
    .latest-post-details-title:hover{
      text-decoration: underline;
    }
    .latest-post-details-subtitle {
      font-size: 20px ;
      margin-left: 95px;
      display: block;
      font-weight: normal;
      font-style: italic;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      margin-top: -10px;
      font-size: 30px;
      line-height: 26px;
      letter-spacing: -.4px;
      max-width: 500px;
      padding-top: 55px
    }
    .all-posts-div {
      display: flex;
      flex-wrap: wrap ;
      position: relative;
      bottom: 295px;
      padding-left: 2.5%;
      margin-bottom: -320px;
    }
    .single-post {
      list-style: none;
      flex: 0 0 33.333333%;
      margin-right: -1.2%;
      margin-bottom: 130px;
    }
    .single-post-image {
      height: 300px;
      width: 360px;
      object-fit: cover;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      margin-bottom: -38px;
    }
    .single-post-image:hover{
      transform: translateY(-10px);
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .single-post-image:hover ~ .single-post-detail-div{
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }
    
    .single-post-detail-div{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 360px;
      margin-top: 40px;
      background-color: #0ACCE5;
      opacity: .9;  
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      height: 140px;
      width: 360px;
      position: relative;
      left: 93px;
    }
    .single-post-date-and-category-div {
      display: flex;
      flex-direction: row ;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }
    .single-post-date {
      margin-right: 40px;
      font-size: 14px;
     
    }
    .single-post-category{
      color: #000000;
      font-weight: bold;
      padding: 5px;
      font-weight:700;
    }
    .single-post-category:hover{
      color: #292929;
    }
    .single-post-category-link{
      text-decoration: none;
      color: #000000;
    }
    .single-post-title{
      margin-top: -10px;
      max-width: 260px;
      font-size: 19px;
      text-align-last: center;
      font-weight: bolder;
    }
    .single-post-title:hover{
      text-decoration: underline;
    }
    .single-post-title-link{
      text-decoration: none;
      color: #000000;
    }
    .load-more-button {
      width: 155px;
      height: 55px;
      border-radius: 12px;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
      background-color: transparent;
      margin-bottom: 60px;
    }
    .load-more-button:hover {
     background-color: #0ACCE5;
    }
    .load-more-button-disabled {
      width: 155px;
      height: 55px;
      border-radius: 12px;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
      background-color: transparent;
      margin-bottom: 60px;
    }
    .mobile-latest-post-div{
      display: none;
    }
    .all-posts-mobile-div{
      display: none;
    }
    }

    @media only screen and ( min-width: 1920px  ) and (max-width: 2559px ) {
      .badscreen{
        display: none;
      }
      
      .explore-image {
        border-right: none;
        border-left: none ;
        object-fit: cover;
        position: relative;
        bottom: 40px;
        height: 355px;
        min-width: 100%;
        z-index: 2;
        box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
      }
      .latest-and-all-posts-main-div{
        margin-top: -43px;
        background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 5%;
        z-index: 1;
        height: calc( 100% + 200px);
        overflow-y: hidden;
      }
      .latest-post-div {
        display:flex;  
        flex-direction: row;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 100px;
        margin-right: -80px;
        width: 100%;
      }
      .latest-posts-image {
        background-color: #0ACCE5;
        width: 690px;
        height: 430px;
        border-radius: 12px;
        object-fit: cover;
        box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
        z-index: 4;
        transition: .5s ease;
        position: relative;
        top:  5px;
      }
      .latest-posts-image:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      transition: .5s ease;
      }
      .single-post-title-link-image{
        z-index: 4;
        position: relative;
        bottom: 50px;
        height: 400px;
        border-radius: 12px;
      }
      .latest-post-details-background-div{
        height: 430px;
        width: 700px;
        background-color: whitesmoke;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0,4,4,0.4);
        opacity: .5;  
        margin-left: -7%;
        margin-top: -75px; 
        margin-right: 50%;
        z-index: 2.3;
      }
      .latest-post-details-text-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-width: 300px;
        top: -390px;
        left: -6%;
        z-index: 2.5;
        margin-left: 10px;
        color: black;
        z-index: 969;
      }
      .latest-post-details-date-and-category-text-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 1.5;
      }
      .latest-post-details-date{
        position: relative;
        top: 27px;
        font-size: 22px; 
        margin-right: 30px;
        font-style: bold;
      }
      .meta-logo {
        position: relative;
        top: 5px;
        height: 175px;
        width: 175px;
      }
      .latest-post-details-category {
        font-size: 32px;
        margin-top: 40px;
        margin-left: 30px;
        color: #000000;
        font-weight:400;
        padding-top: 0px;
        padding-bottom: -5px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        top: 30px;
      }
      .latest-post-details-category:hover{
        border-radius: 12px;
        color: #292929;
      }
      .latest-post-details-title {
        display:block;
        margin-top: -10px;
        font-weight: bold;
        font-size: 47px;
        line-height: 26px;
        letter-spacing: -.4px;
        margin-bottom: 10px;
        padding-top: 0px
      }
      .latest-post-details-title:hover{
        text-decoration: underline;
      }
      .latest-post-details-subtitle {
        font-size: 20px ;
        margin-left: 95px;
        display: block;
        font-weight: normal;
        font-style: italic;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -10px;
        font-size: 30px;
        line-height: 26px;
        letter-spacing: -.4px;
        max-width: 500px;
        padding-top: 55px
      }
      .all-posts-div {
        display: flex;
        flex-wrap: wrap ;
        position: relative;
        bottom: 295px;
        padding-left:7%;
        padding-right:15%;
        margin-bottom: -320px;
      }
      .single-post {
        list-style: none;
        flex: 0 0 33.333333%;
        margin-right:0%;
        margin-bottom: 130px;
      }
      .single-post-image {
        position: relative;
        left: 82px;
        height: 300px;
        width: 360px;
        object-fit: cover;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        margin-bottom: -38px;
      }
      .single-post-image:hover{
        transform: translateY(-10px);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      .single-post-image:hover ~ .single-post-detail-div{
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
      }
      
      .single-post-detail-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 360px;
        margin-top: 40px;
        background-color: #0ACCE5;
        opacity: .9;  
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 140px;
        width: 360px;
        position: relative;
        left: 151px;
      }
      .single-post-date-and-category-div {
        display: flex;
        flex-direction: row ;
        justify-content: center;
        align-items: center;
        padding: 0px;
      }
      .single-post-date {
        margin-right: 40px;
        font-size: 14px;
       
      }
      .single-post-category{
        color: #000000;
        font-weight: bold;
        padding: 5px;
        font-weight:700;
      }
      .single-post-category:hover{
        color: #292929;
      }
      .single-post-category-link{
        text-decoration: none;
        color: #000000;
      }
      .single-post-title{
        margin-top: -10px;
        max-width: 260px;
        font-size: 19px;
        text-align-last: center;
        font-weight: bolder;
      }
      .single-post-title:hover{
        text-decoration: underline;
      }
      .single-post-title-link{
        text-decoration: none;
        color: #000000;
      }
      .load-more-button {
        width: 155px;
        height: 55px;
        border-radius: 12px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        background-color: transparent;
        margin-bottom: 60px;
      }
      .load-more-button:hover {
       background-color: #0ACCE5;
      }
      .load-more-button-disabled {
        width: 155px;
        height: 55px;
        border-radius: 12px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        background-color: transparent;
        margin-bottom: 60px;
      }
      .mobile-latest-post-div{
        display: none;
      }
      .all-posts-mobile-div{
        display: none;
      }
      }
  

@media screen and (min-width: 390px ) and (max-width: 413px) {
  .badscreen{
    display: none;
  }
  .single-post-category-link-mobile {
    text-decoration: none;
    color: black;
  }
  .mobile-latest-post-title{
    text-decoration: none;
    color: black;
  }
  .mobile-latest-post-title:hover{
    text-decoration: underline;
  }
  .each-single-mobile-post-details-title{
    text-decoration: none;
    color: black;
  }
  .single-post-category:hover{
    color: #292929;
  }
  .single-post-title:hover{
    text-decoration: underline;
  }
  .explore-image {
    border-right: none;
    border-left: none ;
    object-fit: cover;
    position: relative;
    bottom: 40px;
    height: 180px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  }
  .latest-and-all-posts-main-div{
  margin-top: -43px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 200px);
  overflow-y: hidden;
  overflow-x: hidden;
  }
  .mobile-latest-post-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .moble-latest-post-image{
    margin-top: 20px;
    width: 345px;
    height: 240px;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-style: hidden;
  border-color: transparent;
  }
  .mobile-latest-post-details-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: 344px;
    height: 130px;
    z-index: 4;
    background-color: #0ACCE5;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  }
.mobile-latest-post-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 35px;
  margin-bottom: 20px;
}
.mobile-latest-post-date{
  font-size: 14px;
 font-weight: bold;
}
.mobile-latest-post-category{
  font-size: 17px;
  font-weight: bold;
 }
 .mobile-latest-post-title{
   font-size: 19px;
  font-weight: bold;
 }

.all-posts-mobile-div{
  display: unset;
  margin-bottom: 40px;
}
.each-single-mobile-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.each-single-mobile-post-image{
  margin-top: 20px;
  width: 345px;
  height: 240px;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.each-single-mobile-post-details-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  width: 344px;
  height: 140px;
  z-index: 4;
  background-color: #0ACCE5;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
}
.each-single-mobile-post-details-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  margin-bottom: 20px;
}
.each-single-mobile-post-details-date{
  font-size: 14px;
 font-weight: bold;
}
.each-single-mobile-post-details-category{
  font-size: 17px;
  font-weight: bold;
 }
 .each-single-mobile-post-details-title{
   max-width: 80%;
   font-size: 19px;
  font-weight: bold;
 }

 .load-more-button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
}
.load-more-button:hover {
 background-color: #0ACCE5;
}
.load-more-button-disabled {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
}
  .all-posts-div {
    display: none;
  }
  
  .latest-post-div{
    display: none;
  }
  .latest-posts-image {
   display: none;
  }
  .mobile-meta-details-div{
   display:none;
  }
  .latest-post-details-div{
    display:none;
  }
  .mobile-latest-post-category:hover{
    border-radius: 12px;
    color: #292929;
  }
  .loadingContentScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1001;
    height: 100%;
  }
  .loadicon{
    position: relative;
    top: 76px;
  }
}

@media screen and (min-width: 375px ) and (max-width: 389px) {
  .loadicon{
    position: relative;
    top: 61px;
  }
  .loadingContentScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1001;
    height: 100%;
  }

  .badscreen{
    display: none;
  }
  .single-post-category-link-mobile {
    text-decoration: none;
    color: black;
  }
  .mobile-latest-post-title{
    text-decoration: none;
    color: black;
  }
  .single-post-category:hover{
    color: #292929;
  }
  .single-post-title:hover{
    text-decoration: underline;
  }
  .mobile-latest-post-title:hover{
    text-decoration: underline;
  }
  .each-single-mobile-post-details-title{
    text-decoration: none;
    color: black;
  }
  
  .explore-image {
    border-right: none;
    border-left: none ;
    object-fit: cover;
    position: relative;
    bottom: 40px;
    height: 180px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  }
  .latest-and-all-posts-main-div{
  margin-top: -43px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 200px);
  overflow-y: hidden;
  overflow-x: hidden;
  }
  .mobile-latest-post-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .moble-latest-post-image{
    margin-top: 20px;
    width: 345px;
    height: 240px;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
  .mobile-latest-post-details-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: 344px;
    height: 130px;
    z-index: 4;
    background-color: #0ACCE5;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  }
.mobile-latest-post-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 35px;
  margin-bottom: 20px;
}
.mobile-latest-post-date{
  font-size: 14px;
 font-weight: bold;
}
.mobile-latest-post-category{
  font-size: 17px;
  font-weight: bold;
 }
 .mobile-latest-post-category:hover{
  border-radius: 12px;
  color: #292929;
}
 .mobile-latest-post-title{
   font-size: 19px;
  font-weight: bold;
 }

.all-posts-mobile-div{
  display: unset;
  margin-bottom: 40px;
}
.each-single-mobile-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.each-single-mobile-post-image{
  margin-top: 20px;
  width: 345px;
  height: 240px;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.each-single-mobile-post-details-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  width: 344px;
  height: 140px;
  z-index: 4;
  background-color: #0ACCE5;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
}
.each-single-mobile-post-details-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  margin-bottom: 20px;
}
.each-single-mobile-post-details-date{
  font-size: 14px;
 font-weight: bold;
}
.each-single-mobile-post-details-category{
  font-size: 17px;
  font-weight: bold;
 }
 .each-single-mobile-post-details-title{
   max-width: 80%;
   font-size: 19px;
  font-weight: bold;
 }
 .load-more-button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
}
.load-more-button:hover {
 background-color: #0ACCE5;
}
.load-more-button-disabled {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
}

  .all-posts-div {
    display: none;
  }
  
  .latest-post-div{
    display: none;
  }
  .latest-posts-image {
   display: none;
  }
  .mobile-meta-details-div{
   display:none;
  }
  .latest-post-details-div{
    display:none;
  }
}

@media screen and (min-width: 414px ) and (max-width: 427px) {
  .loadicon{
    position: relative;
    top: 100px;
  }
  .loadingContentScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1001;
    height: 100%;
  }
  .badscreen{
    display: none;
  }
  .single-post-category-link-mobile {
    text-decoration: none;
    color: black;
  }
  .mobile-latest-post-title{
    text-decoration: none;
    color: black;
  }
  .single-post-title:hover{
    text-decoration: underline;
  }
  .single-post-category:hover{
    color: #292929;
  }
  .mobile-latest-post-title:hover{
    text-decoration: underline;
  }
  .each-single-mobile-post-details-title{
    text-decoration: none;
    color: black;
  }
  .explore-image {
    border-right: none;
    border-left: none ;
    object-fit: cover;
    position: relative;
    bottom: 40px;
    height: 180px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  }
  .mobile-latest-post-category:hover{
    border-radius: 12px;
    color: #292929;
  }
  .latest-and-all-posts-main-div{
  margin-top: -43px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 200px);
  overflow-y: hidden;
  overflow-x: hidden;
  }
  .mobile-latest-post-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .moble-latest-post-image{
    margin-top: 20px;
    width: 345px;
    height: 240px;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
  .mobile-latest-post-details-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: 344px;
    height: 130px;
    z-index: 4;
    background-color: #0ACCE5;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
  }
.mobile-latest-post-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 35px;
  margin-bottom: 20px;
}
.mobile-latest-post-date{
  font-size: 14px;
 font-weight: bold;
}
.mobile-latest-post-category{
  font-size: 17px;
  font-weight: bold;
 }
 .mobile-latest-post-title{
   font-size: 19px;
  font-weight: bold;
 }

.all-posts-mobile-div{
  display: unset;
  margin-bottom: 40px;
}
.each-single-mobile-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.each-single-mobile-post-image{
  margin-top: 20px;
  width: 345px;
  height: 240px;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.each-single-mobile-post-details-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  width: 344px;
  height: 140px;
  z-index: 4;
  background-color: #0ACCE5;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
}
.each-single-mobile-post-details-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  margin-bottom: 20px;
}
.each-single-mobile-post-details-date{
  font-size: 14px;
 font-weight: bold;
}
.each-single-mobile-post-details-category{
  font-size: 17px;
  font-weight: bold;
 }
 .each-single-mobile-post-details-title{
   max-width: 80%;
   font-size: 19px;
  font-weight: bold;
 }

 .load-more-button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
  text-decoration: none;
  color: black;
}
.load-more-button:hover {
 background-color: #0ACCE5;
}
.load-more-button-disabled {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
  text-decoration: none;
  color: black;
  opacity: .6;
}
  .all-posts-div {
    display: none;
  }
  
  .latest-post-div{
    display: none;
  }
  .latest-posts-image {
   display: none;
  }
  .mobile-meta-details-div{
   display:none;
  }
  .latest-post-details-div{
    display:none;
  }
}
@media screen and (min-width: 428px ) and (max-width: 599px) {
  .loadicon{
    position: relative;
    top: 114px;
  }
  .loadingContentScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1001;
    height: 100%;
  }
  .badscreen{
    display: none;
  }
  .single-post-category-link-mobile {
    text-decoration: none;
    color: black;
  }
  .mobile-latest-post-title{
    text-decoration: none;
    color: black;
  }
  .single-post-title:hover{
    text-decoration: underline;
  }
  .single-post-category:hover{
    color: #292929;
  }
  .mobile-latest-post-title:hover{
    text-decoration: underline;
  }
  .each-single-mobile-post-details-title{
    text-decoration: none;
    color: black;
  }
  .explore-image {
    border-right: none;
    border-left: none ;
    object-fit: cover;
    position: relative;
    bottom: 40px;
    height: 180px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  }
  .mobile-latest-post-category:hover{
    border-radius: 12px;
    color: #292929;
  }
  .latest-and-all-posts-main-div{
  margin-top: -43px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 200px);
  overflow-y: hidden;
  overflow-x: hidden;
  }
  .mobile-latest-post-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .moble-latest-post-image{
    margin-top: 20px;
    width: 345px;
    height: 240px;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
  .mobile-latest-post-details-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: 344px;
    height: 130px;
    z-index: 4;
    background-color: #0ACCE5;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
    border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
  }
.mobile-latest-post-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 35px;
  margin-bottom: 20px;
}
.mobile-latest-post-date{
  font-size: 14px;
 font-weight: bold;
}
.mobile-latest-post-category{
  font-size: 17px;
  font-weight: bold;
 }
 .mobile-latest-post-title{
   font-size: 19px;
  font-weight: bold;
 }

.all-posts-mobile-div{
  display: unset;
  margin-bottom: 40px;
}
.each-single-mobile-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.each-single-mobile-post-image{
  margin-top: 20px;
  width: 345px;
  height: 240px;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.each-single-mobile-post-details-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  width: 344px;
  height: 140px;
  z-index: 4;
  background-color: #0ACCE5;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
}
.each-single-mobile-post-details-date-and-category-div{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
  margin-bottom: 20px;
}
.each-single-mobile-post-details-date{
  font-size: 14px;
 font-weight: bold;
}
.each-single-mobile-post-details-category{
  font-size: 17px;
  font-weight: bold;
 }
 .each-single-mobile-post-details-title{
   max-width: 80%;
   font-size: 19px;
  font-weight: bold;
 }

 .load-more-button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
}
.load-more-button:hover {
 background-color: #0ACCE5;
}
.load-more-button-disabled {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 170px;
}
  .all-posts-div {
    display: none;
  }
  
  .latest-post-div{
    display: none;
  }
  .latest-posts-image {
   display: none;
  }
  .mobile-meta-details-div{
   display:none;
  }
  .latest-post-details-div{
    display:none;
  }
}


