.create-post-image{
  margin-top: -40px;
  border-right: none;
  border-left: none ;
  object-fit: cover;
  height: 305px;
  width: 100%;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
}
.create-post-page{
  margin-top: 37px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 300px);
  overflow-y: hidden;
  margin-top: -3px;
}
.create-post-form{
  display: flex;
  flex-direction: column;
}
.create-post-header-text{
  margin-top: -15px;
  margin-bottom: 50px;
}
.post-details-top-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-details-top-left{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 40px;
}
.create-post-label-and-input-div{
  display: flex;
  flex-direction: column;
}
.category-div{
  width: 462px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  height: 45px;
  top: 30px;
  background-color: white;
 }
 .create-post-input-text{
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  outline-width: 0;
}
.category{
  position: relative;
  bottom: 23px;
  height: 45px;
  width: 460px;
  border-radius: 12px;
  border-width: 0;
  padding-left: 10px;
  font-size: 15px;
  background-color: transparent;
  outline-width: 0;
}
.create-post-user-input-box{
  height: 45px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border-width: 0;
  font-size: 15px;
  padding-left: 10px;
  outline-width: 0;
}
 .image-upload-div{
   position: relative;
   top: 10px;
 }
 .image-div{
  position: relative;
  height: 300px;
  width: 462px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.loading-image-text{
  position: relative;
  top: 110px;
  font-size: larger;
}
.uploaded-image{
  position: relative;
  top: 0px;
  height: 300px;
  width: 462px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.image-upload-icon{
position: relative;
top: 125px;
height: 70px;
width: 70px;
z-index: 12;
}
#file-inputs{
  background-color: tomato;
  display: none;
}
.create-post-close-icon {
  position: relative;
  bottom: 1343px;
  left: 1175px;
  height: 50px;
  width: 50px;
  z-index: 114;
  border-radius: 12px;
}
.submit-button{
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 380px;
  position: relative;
  left: 635px;
  bottom: 50px;
}
.submit-button:hover{
  background-color: #0ACCE5;
}
.submit-button-disabled{
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 380px;
  position: relative;
  left: 635px;
  bottom: 50px;
}

