.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: transparent;
  opacity: 40px;
  margin-top: -350px;
  padding-bottom: 20px;
  height: 250px;
  width: 100%;
  z-index: 6;
  overflow: hidden;
}

.linkedin-logo {
  height: 80px;
  width: 80px;
  margin-right: 0px;
  z-index: 6;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 15px;
}
.linkedin-logo:hover {
  background-color: #0ACCE5;
 }

.meta-logo-footer {
  position: sticky;
  bottom: 0px;
  margin-top: -300px;
  margin-bottom: -400px;
  height: 250px; 
  width: 250px;
  margin-right: 50px;
  margin-left: 50px;
}
.copyrights-text-footer{
  font-size: 8px;
  padding-left: 35px;
  position: relative;
  top: 57px;
  right: 10px;
}
.github-logo {
  padding: 20px;
  border-radius: 15px;
  height: 80px;
  width: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.github-logo:hover {
  background-color: #0ACCE5;
 }

 @media screen and (max-width: 400px ){
  .footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .linkedin-logo{
   display: none;
 }
 .linkedin-logo{
  display: none;
}
.github-logo{
  display: none;
}
.meta-logo-footer{
  margin-top: -120px;
}
}



