@media screen and (min-width: 1440px ) and (max-width: 1599px )  {
.sign-in-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  height: calc(100% + 0px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.outer-div-mobile{
  display: none;
}
.meta-minds-logo-div{
  padding-top: 15px;
  position: relative;
  top: 0%;
  margin-bottom: 1%;
}
.sign-in-meta-minds-logo{
  height: 200px;
  width:  200px;
}
.sign-in-copyright-text{
  font-size: 7px;
  position: relative;
  bottom: 60px;
  left: 2px;
}
.sing-in-form{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
  border-radius: 12px;
  padding: 30px;
  padding-bottom: 0px;
  height: 320px;
  width: 350px;
  position: relative;
  bottom: 6%;
}
.sign-in-header-text {
  font-size: 40px;
  position: relative;
  bottom: 55px;
  font-weight: bold;
  margin-bottom: 50px;
}
.sign-in-label-and-input-div {
  margin-top: 0px;
  position: relative;
  bottom:26%;
}
.input-text-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.user-input-box {
  width: 80%;
  height: 30px;
  border-radius: 4px;
  border-style: hidden;
  background-color: whitesmoke;
  outline: none;
  box-shadow: 0px 1px 1px 1px rgba(0,4,4,0.4);
  background-color: white;
  padding-left: 15px;
}
.sign-in-button {
  position: relative;
  bottom: -15px;
  left: 10px;
  margin-top: -80px;
    height: 40px;
    width: 95%;
    background-color: transparent;
   border-style: hidden;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
    background-color:transparent;
  }
  .sign-in-button:hover {
    background-color: #0ACCE5;
    opacity: .8;
  }
  .link-to-sign-up-div{
    position: relative;
    bottom: 2%;
  }
.new-to-site-text{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}
  .link-to-sign-up-button {
    position: relative;
    bottom: 10px;
    height: 40px;
    width: 330px;
    background-color: transparent;
    border-style: hidden;
    font-size: 20px;
    border-radius: 6px; 
    text-decoration: none;
    box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
    background-color:transparent;
  }
  .link-to-sign-up-button:hover{
    background-color: #0ACCE5;
    opacity: .8;
  }
}

@media screen and (min-width: 1600px ) and (max-width: 1679px )  {
  .sign-in-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
    height: calc(100% + 0px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .outer-div-mobile{
    display: none;
  }
  .meta-minds-logo-div{
    padding-top: 0px;
    position: relative;
    top: 0%;
    margin-bottom: 1%;
  }
  .sign-in-meta-minds-logo{
    height: 260px;
    width:  260px;
  }
  .sign-in-copyright-text{
    font-size: 9px;
    position: relative;
    bottom: 75px;
    left: 7px;
  }
  .sing-in-form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
    border-radius: 12px;
    padding: 30px;
    padding-bottom: 0px;
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 6%;
  }
  .sign-in-header-text {
    font-size: 45px;
    position: relative;
    bottom: 55px;
    font-weight: bold;
    margin-bottom: 65px;
  }
  .sign-in-label-and-input-div {
    margin-top: 0px;
    position: relative;
    bottom:26%;
  }
  .input-text-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .user-input-box {
    width: 80%;
    height: 30px;
    border-radius: 4px;
    border-style: hidden;
    background-color: whitesmoke;
    outline: none;
    box-shadow: 0px 1px 1px 1px rgba(0,4,4,0.4);
    background-color: white;
    padding-left: 15px;
  }
  .sign-in-button {
    position: relative;
    bottom: -15px;
    left: 10px;
    margin-top: -80px;
      height: 40px;
      width: 95%;
      background-color: transparent;
     border-style: hidden;
      font-size: 20px;
      border-radius: 6px;
      text-decoration: none;
      box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
      background-color:transparent;
    }
    .sign-in-button:hover {
      background-color: #0ACCE5;
      opacity: .8;
    }
    .link-to-sign-up-div{
      position: relative;
      bottom: 2%;
    }
  .new-to-site-text{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
    .link-to-sign-up-button {
      position: relative;
      bottom: 10px;
      height: 40px;
      width: 330px;
      background-color: transparent;
      border-style: hidden;
      font-size: 20px;
      border-radius: 6px; 
      text-decoration: none;
      box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
      background-color:transparent;
    }
    .link-to-sign-up-button:hover{
      background-color: #0ACCE5;
      opacity: .8;
    }
  }
  @media screen and (min-width: 1680px ) and (max-width: 1919px )  {
    .sign-in-div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
      height: calc(100% + 0px);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    .outer-div-mobile{
      display: none;
    }
    .meta-minds-logo-div{
      padding-top: 0px;
      position: relative;
      top: 0%;
      margin-bottom: 1%;
    }
    .sign-in-meta-minds-logo{
      height: 260px;
      width:  260px;
    }
    .sign-in-copyright-text{
      font-size: 9px;
      position: relative;
      bottom: 75px;
      left: 7px;
    }
    .sing-in-form{
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
      border-radius: 12px;
      padding: 30px;
      padding-bottom: 0px;
      height: 350px;
      width: 350px;
      position: relative;
      bottom: 6%;
    }
    .sign-in-header-text {
      font-size: 45px;
      position: relative;
      bottom: 55px;
      font-weight: bold;
      margin-bottom: 65px;
    }
    .sign-in-label-and-input-div {
      margin-top: 0px;
      position: relative;
      bottom:26%;
    }
    .input-text-title {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .user-input-box {
      width: 80%;
      height: 30px;
      border-radius: 4px;
      border-style: hidden;
      background-color: whitesmoke;
      outline: none;
      box-shadow: 0px 1px 1px 1px rgba(0,4,4,0.4);
      background-color: white;
      padding-left: 15px;
    }
    .sign-in-button {
      position: relative;
      bottom: -15px;
      left: 10px;
      margin-top: -80px;
        height: 40px;
        width: 95%;
        background-color: transparent;
       border-style: hidden;
        font-size: 20px;
        border-radius: 6px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .sign-in-button:hover {
        background-color: #0ACCE5;
        opacity: .8;
      }
      .link-to-sign-up-div{
        position: relative;
        bottom: 2%;
      }
    .new-to-site-text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
      .link-to-sign-up-button {
        position: relative;
        bottom: 10px;
        height: 40px;
        width: 330px;
        background-color: transparent;
        border-style: hidden;
        font-size: 20px;
        border-radius: 6px; 
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .link-to-sign-up-button:hover{
        background-color: #0ACCE5;
        opacity: .8;
      }
    }
    @media screen and (min-width: 1920px ) and (max-width: 2559px )  {
      .sign-in-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
        height: calc(100% + 0px);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        padding-top: 50px;
      }
      .outer-div-mobile{
        display: none;
      }
      .meta-minds-logo-div{
        padding-top: 0px;
        position: relative;
        top: 0%;
        margin-bottom: 1%;
      }
      .sign-in-meta-minds-logo{
        height: 260px;
        width:  260px;
      }
      .sign-in-copyright-text{
        font-size: 9px;
        position: relative;
        bottom: 75px;
        left: 7px;
      }
      .sing-in-form{
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
        border-radius: 12px;
        padding: 30px;
        padding-bottom: 0px;
        height: 350px;
        width: 350px;
        position: relative;
        bottom: 6%;
      }
      .sign-in-header-text {
        font-size: 45px;
        position: relative;
        bottom: 55px;
        font-weight: bold;
        margin-bottom: 65px;
      }
      .sign-in-label-and-input-div {
        margin-top: 0px;
        position: relative;
        bottom:26%;
      }
      .input-text-title {
        font-size: 25px;
        margin-bottom: 10px;
      }
      .user-input-box {
        width: 80%;
        height: 30px;
        border-radius: 4px;
        border-style: hidden;
        background-color: whitesmoke;
        outline: none;
        box-shadow: 0px 1px 1px 1px rgba(0,4,4,0.4);
        background-color: white;
        padding-left: 15px;
      }
      .sign-in-button {
        position: relative;
        bottom: -15px;
        left: 10px;
        margin-top: -80px;
          height: 40px;
          width: 95%;
          background-color: transparent;
         border-style: hidden;
          font-size: 20px;
          border-radius: 6px;
          text-decoration: none;
          box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
          background-color:transparent;
        }
        .sign-in-button:hover {
          background-color: #0ACCE5;
          opacity: .8;
        }
        .link-to-sign-up-div{
          position: relative;
          bottom: 2%;
        }
      .new-to-site-text{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
        .link-to-sign-up-button {
          position: relative;
          bottom: 10px;
          height: 40px;
          width: 330px;
          background-color: transparent;
          border-style: hidden;
          font-size: 20px;
          border-radius: 6px; 
          text-decoration: none;
          box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
          background-color:transparent;
        }
        .link-to-sign-up-button:hover{
          background-color: #0ACCE5;
          opacity: .8;
        }
      }
  @media screen and (min-width: 375px ) and (max-width: 389px ) {
.sign-in-div{
      display: flex;
      flex-direction: column;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
      height: calc(100% + 20px);
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    .outer-div-desktop{
      display: none;
    }
    .outer-div-mobile{
     box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     width: 96%;
     height: 98%;
    }
    .mobile-meta-minds-logo-div{
      padding-top: 0px;
      position: relative;
      top: -3%;
      margin-bottom: -2%;
    }
    .mobile-sign-in-meta-minds-logo{
      height: 220px;
      width:  220px;
      margin-bottom: -5px;
    }
    .mobile-sign-in-copyright-text{
      font-size: 7px;
      position: relative;
      bottom: 60px;
      left: 2px;
    }
    .mobile-sing-in-form{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 30px;
      padding-bottom: 0px;
      height: 380px;
      max-width: 100%;
      position: relative;
      bottom: 6%;
    }
    .mobile-sign-in-header-text {
      font-size: 45px;
      position: relative;
      bottom: 70px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .mobile-sign-in-label-and-input-div {
      margin-top: 0px;
      position: relative;
      bottom:26%;
    }
    .mobile-input-text-title {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .mobile-user-input-box {
      width: 90%;
      height: 40px;
      border-radius: 12px;
      border-style: hidden;
      outline: none;
      box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
      background-color: white;
      padding-left: 15px;
    }
    .mobile-sign-in-button {
      position: relative;
      bottom: 4px;
      left: 6px;
      margin-top: -80px;
        height: 50px;
        width: 95%;
        background-color: transparent;
       border-style: hidden;
        font-size: 20px;
        border-radius: 12px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-sign-in-button:hover {
        background-color: #0ACCE5;
        opacity: .8;
      }
      .mobile-link-to-sign-up-div{
        position: relative;
        bottom: 2%;
      }
    .mobile-new-to-site-text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
      .mobile-link-to-sign-up-button {
        position: relative;
        bottom: 10px;
        height: 50px;
        width: 80%;
        background-color: transparent;
        border-style: hidden;
        font-size: 20px;
        border-radius: 12px; 
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-link-to-sign-up-button:hover{
        background-color: #0ACCE5;
        opacity: .8;
      }
  }
  @media screen and (min-width: 390px ) and (max-width: 413px) {
    .sign-in-div{
      display: flex;
      flex-direction: column;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
      height: calc(100% + 20px);
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    .outer-div-desktop{
      display: none;
    }
    .outer-div-mobile{
     box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     width: 96%;
     height: 98%;
    }
    .mobile-meta-minds-logo-div{
      padding-top: 0px;
      position: relative;
      top: -3%;
      margin-bottom: -2%;
    }
    .mobile-sign-in-meta-minds-logo{
      height: 220px;
      width:  220px;
      margin-bottom: -5px;
    }
    .mobile-sign-in-copyright-text{
      font-size: 7px;
      position: relative;
      bottom: 60px;
      left: 2px;
    }
    .mobile-sing-in-form{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 30px;
      padding-bottom: 0px;
      height: 380px;
      max-width: 100%;
      position: relative;
      bottom: 6%;
    }
    .mobile-sign-in-header-text {
      font-size: 45px;
      position: relative;
      bottom: 70px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .mobile-sign-in-label-and-input-div {
      margin-top: 0px;
      position: relative;
      bottom:26%;
    }
    .mobile-input-text-title {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .mobile-user-input-box {
      width: 90%;
      height: 40px;
      border-radius: 12px;
      border-style: hidden;
      outline: none;
      box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
      background-color: white;
      padding-left: 15px;
    }
    .mobile-sign-in-button {
      position: relative;
      bottom: 4px;
      left: 6px;
      margin-top: -80px;
        height: 50px;
        width: 95%;
        background-color: transparent;
       border-style: hidden;
        font-size: 20px;
        border-radius: 12px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-sign-in-button:hover {
        background-color: #0ACCE5;
        opacity: .8;
      }
      .mobile-link-to-sign-up-div{
        position: relative;
        bottom: 2%;
      }
    .mobile-new-to-site-text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
      .mobile-link-to-sign-up-button {
        position: relative;
        bottom: 10px;
        height: 50px;
        width: 80%;
        background-color: transparent;
        border-style: hidden;
        font-size: 20px;
        border-radius: 12px; 
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-link-to-sign-up-button:hover{
        background-color: #0ACCE5;
        opacity: .8;
      }
  }
  @media screen and (min-width: 414px ) and (max-width: 427px ) {
    .sign-in-div{
      display: flex;
      flex-direction: column;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
      height: calc(100% + 20px);
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    .outer-div-desktop{
      display: none;
    }
    .outer-div-mobile{
     box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     width: 96%;
     height: 98%;
    }
    .mobile-meta-minds-logo-div{
      padding-top: 0px;
      position: relative;
      top: -3%;
      margin-bottom: -2%;
    }
    .mobile-sign-in-meta-minds-logo{
      height: 220px;
      width:  220px;
      margin-bottom: -5px;
    }
    .mobile-sign-in-copyright-text{
      font-size: 7px;
      position: relative;
      bottom: 60px;
      left: 2px;
    }
    .mobile-sing-in-form{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 30px;
      padding-bottom: 0px;
      height: 380px;
      max-width: 100%;
      position: relative;
      bottom: 6%;
    }
    .mobile-sign-in-header-text {
      font-size: 45px;
      position: relative;
      bottom: 70px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .mobile-sign-in-label-and-input-div {
      margin-top: 0px;
      position: relative;
      bottom:26%;
    }
    .mobile-input-text-title {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .mobile-user-input-box {
      width: 90%;
      height: 40px;
      border-radius: 12px;
      border-style: hidden;
      outline: none;
      box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
      background-color: white;
      padding-left: 15px;
    }
    .mobile-sign-in-button {
      position: relative;
      bottom: 4px;
      left: 6px;
      margin-top: -80px;
        height: 50px;
        width: 95%;
        background-color: transparent;
       border-style: hidden;
        font-size: 20px;
        border-radius: 12px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-sign-in-button:hover {
        background-color: #0ACCE5;
        opacity: .8;
      }
      .mobile-link-to-sign-up-div{
        position: relative;
        bottom: 2%;
      }
    .mobile-new-to-site-text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
      .mobile-link-to-sign-up-button {
        position: relative;
        bottom: 10px;
        height: 50px;
        width: 80%;
        background-color: transparent;
        border-style: hidden;
        font-size: 20px;
        border-radius: 12px; 
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-link-to-sign-up-button:hover{
        background-color: #0ACCE5;
        opacity: .8;
      }
  }
  @media screen and (min-width: 428px ) and (max-width: 599px ) {
    .sign-in-div{
      display: flex;
      flex-direction: column;
      background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
      height: calc(100% + 20px);
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    .outer-div-desktop{
      display: none;
    }
    .outer-div-mobile{
     box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     width: 96%;
     height: 98%;
    }
    .mobile-meta-minds-logo-div{
      padding-top: 30px;
      position: relative;
      top: -3%;
      margin-bottom: -2%;
    }
    .mobile-sign-in-meta-minds-logo{
      height: 220px;
      width:  220px;
      margin-bottom: -5px;
    }
    .mobile-sign-in-copyright-text{
      font-size: 7px;
      position: relative;
      bottom: 60px;
      left: 2px;
    }
    .mobile-sing-in-form{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 30px;
      padding-bottom: 0px;
      height: 380px;
      max-width: 100%;
      position: relative;
      bottom: 6%;
    }
    .mobile-sign-in-header-text {
      font-size: 45px;
      position: relative;
      bottom: 70px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .mobile-sign-in-label-and-input-div {
      margin-top: 0px;
      position: relative;
      bottom:26%;
    }
    .mobile-input-text-title {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .mobile-user-input-box {
      width: 90%;
      height: 40px;
      border-radius: 12px;
      border-style: hidden;
      outline: none;
      box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
      background-color: white;
      padding-left: 15px;
    }
    .mobile-sign-in-button {
      position: relative;
      bottom: 4px;
      left: 6px;
      margin-top: -80px;
        height: 50px;
        width: 95%;
        background-color: transparent;
       border-style: hidden;
        font-size: 20px;
        border-radius: 12px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-sign-in-button:hover {
        background-color: #0ACCE5;
        opacity: .8;
      }
      .mobile-link-to-sign-up-div{
        position: relative;
        bottom: 2%;
      }
    .mobile-new-to-site-text{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
      .mobile-link-to-sign-up-button {
        position: relative;
        bottom: 10px;
        height: 50px;
        width: 80%;
        background-color: transparent;
        border-style: hidden;
        font-size: 20px;
        border-radius: 12px; 
        text-decoration: none;
        box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
        background-color:transparent;
      }
      .mobile-link-to-sign-up-button:hover{
        background-color: #0ACCE5;
        opacity: .8;
      }
  }