
.sign-in-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1640830027/Meta-Minds/nvkCN6_ktxkat.jpg");
  height: calc(100% + 20px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.meta-minds-logo-div{
  padding-top: 15px;
  position: relative;
  top: 0%;
  margin-bottom: 1%;
}
.meta-minds-logo{
  height: 200px;
  width:  200px;
}
.copyright-text{
  font-size: 7px;
  position: relative;
  bottom: 20px;
  left: 2px;
}
.sing-in-form{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);
  border-radius: 12px;
  padding: 30px;
  padding-bottom: 0px;
  height: 320px;
  width: 350px;
  position: relative;
  bottom: 2%;
}
.sign-in-header-text {
  font-size: 40px;
  position: relative;
  bottom: 55px;
  font-weight: bold;
  margin-bottom: 50px;
}
.sign-in-label-and-input-div {
  margin-top: 0px;
  position: relative;
  bottom:26%;
}
.input-text-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.user-input-box {
  width: 80%;
  height: 30px;
  border-radius: 4px;
  border-style: hidden;
  background-color: whitesmoke;
  outline: none;
  box-shadow: 0px 1px 1px 1px rgba(0,4,4,0.4);
  background-color: white;
  padding-left: 15px;
}
.sign-in-button {
  position: relative;
  bottom: -15px;
  left: 10px;
  margin-top: -80px;
    height: 40px;
    width: 95%;
    background-color: transparent;
   border-style: hidden;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
    background-color:transparent;
  }
  .sign-in-button:hover {
    background-color: #0ACCE5;
    opacity: 80%;
  }
  .link-to-sign-up-div{
    position: relative;
    bottom: 2%;
  }
.new-to-site-text{
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
}
  .link-to-sign-up-button {
    position: relative;
    bottom: 10px;
    height: 40px;
    width: 330px;
    background-color: transparent;
    border-style: hidden;
    font-size: 20px;
    border-radius: 6px; 
    text-decoration: none;
    box-shadow: 0 4px 8px 0px rgba(0,4,4,0.4);
    background-color:transparent;
  }
  .link-to-sign-up-button:hover{
    background-color: #0ACCE5;
    opacity: 80%;
  }