
.landing-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1636675187/Meta-Minds/nvkCN6_spihuq.jpg");
  height: 1200px;
  margin-top: -150px;
}
.meta-minds-name {
  font-family: 'Press Start 2P';
  font-size: 80px;
}

img{
  margin-top: -40px;
  margin-bottom: -40px;
  height: 500px;
  width: 500px;
}
.meta-minds-call-to-action-div-one {
  margin-top: -40px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P';
  font-size: 30px;
}
.meta-minds-call-to-action-div-two {
  margin-bottom: 50px;
  font-family: 'Press Start 2P';
  font-size: 27px;
}
.meta-minds--explore-button {
  background-color: transparent;
  border-color: #cee1e9;
  height: 80px;
  width: 400px;
  border-radius: 12px;
  font-size: 25px;
}

