.submit-buttons{
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 400px;
  position: relative;
  left: 15px;
  bottom: 50px;
}
.submit-buttons:hover{
  background-color: #0ACCE5;;
}
.create-post-close-icons {
  position: relative;
  top: 180px;
  left: 480px;
  height: 50px;
  width: 50px;
  z-index: 114;
  border-radius: 12px;
}

.trashcan-icon{
  position: relative;
  height: 50px;
  width: 50px; 
  bottom: 460px;
 left: 1160px;
}