
.update-post-image{
  border-right: none;
  border-left: none ;
  object-fit: cover;
  height: 305px;
  width: 100%;
  box-shadow: 0 4px 8px 4px rgba(0,4,4,0.4);;
  margin-top: -40px;
}
.update-post-page{
  margin-top: 18px;
  background-image: url("https://res.cloudinary.com/tylerwashington98/image/upload/v1638761510/Meta-Minds/nvkCN6_ktxkat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  z-index: 1;
  height: calc( 100% + 300px);
  overflow-y: hidden;
}

.submit-buttons{
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: transparent;
  margin-bottom: 400px;
  position: relative;
  left: 15px;
  bottom: 50px;
}
.submit-buttons:hover{
  background-color: #0ACCE5;;
}
.create-post-close-icons {
  position: relative;
  top: 165px;
  left: 480px;
  height: 50px;
  width: 50px;
  z-index: 114;
  border-radius: 12px;
}

.trashcan-icon{
  position: relative;
  height: 50px;
  width: 50px; 
  bottom: 460px;
 left: 1160px;
}